@font-face {
    font-family: 'hanzelnormal';
    src: url('../fonts/hanzel_normal.eot');
    src: url('../fonts/hanzel_normal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hanzel_normal.woff2') format('woff2'),
    url('../fonts/hanzel_normal.woff') format('woff'),
    url('../fonts/hanzel_normal.ttf') format('truetype'),
    url('../fonts/hanzel_normal.svg#hanzelnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium';
    src: url('../fonts/titillium-web.regular-webfont.eot');
    src: url('../fonts/titillium-web.regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titillium-web.regular-webfont.woff2') format('woff2'),
    url('../fonts/titillium-web.regular-webfont.woff') format('woff'),
    url('../fonts/titillium-web.regular-webfont.ttf') format('truetype'),
    url('../fonts/titillium-web.regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  min-width: 920px;
}

*,
*:before,
*:after {
    box-sizing: inherit; }
header, nav, section, article, aside, footer, main, time {
    display:block;
}
body {
    width: 100%;
    height: 100%;
  min-width: 920px;
}
body {
    background-color: #338CA2;
    font-family: 'titillium', Helvetica, Arial;
}
img {
    border: none;
    outline: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* menu */
.menu {
    right: 50px;
    top: 45px;
    position: absolute;
    z-index: 9999;
}
.menu li {
    float: left;
    list-style: none;
    margin: 0 0 0 45px;
}
.menu a {
    color: #6bacc2;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'titillium';
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
}
.menu .active a {
    border-bottom: 4px #f7941d solid;
}
.menu a:hover {
    color: #f7941d;
}
/* end menu */
#logo {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 9999;
    display: block;
    width: 200px;

}
#logo img{
    width: 100%;
    height: 100%;
}

#next-screen {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 33px;
    height: 16px;
    background: url("../img/icon-arrow.png") no-repeat center;
    background-size: cover;
}


.wrapSection {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

}
.minheight .section {
    height: 768px;
}
.section {
    width: 100%;
    height: 100%;
    text-align: left;
    /*position: relative;*/
}
.layes-01 {
    background: #033148 url("../img/bg-fon.jpg") no-repeat top center;
    background-size: cover;
}
.layes-02 {
    background: url("../img/22.png") repeat top center #001314;
}
.layes-03 {
    position: relative;
}
.layes-04 {
    background: url("../img/bgBottol-1.png") repeat top left #053b4d;

}
.layes-05 {
    background: url("../img/robot.jpg") no-repeat left center  #063f55;
    background-size: 50% auto;
}
.layes-05 .wrap__table {
    background: url("../img/bgLightBot.png") repeat top left;
}
.layes-01 .wrap__table {
    background: url("../img/bgBottol-1.png") repeat top left;
}
.bgBottol {
    background: url("../img/300.png") repeat top left;
    width: 100%;
    height: 100%;
}
.wrap__table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*min-height: 768px;*/
}
.wrap_table_cell {
    width: 100%;
    text-align: center;
    padding: 70px 0;
    max-height: 100%;
}
h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    color: #9beef4;
    max-width: 930px;
    letter-spacing: 2px;
    font-family: 'hanzelnormal';
    margin: 0 auto 2%;
}
.layes-02 h1, .layes-06 h1 {
    font-size: 34px;
}
.layes-01 h1 span {
    color: #f7941d;
}
.layes-02 h1, .layes-03 h1,.layes-06 h1{
    background: url("../img/border.png") no-repeat bottom center;
}
.layes-04 h1 {
    background: url("../img/border.png") no-repeat bottom center;
    /*color: #6bacc2;*/
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.layes-05 h1 {
    background: url("../img/border-05.png") no-repeat bottom left;
    margin-bottom: 50px;
}
.widthBl {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}
.layes-02 .widthBl {
    max-width: 1280px;
}
.layes-06 .widthBl {
    max-width: 1280px;
}
.blText {
    float: left;
    width: 30%;
}
.layes-02 p,.layes-06 p  {
    color: #6bacc2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
.layes-02 .bl-02 {
    margin:0 5%;
}
.layes-06 .bl-02 {
    margin:0 5%;
}
.layes-04 p {
    color: #6bacc2;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.layes-05 .wrap__table {


}
/*.blLeftRobot {
    width: 50%;
    float: left;
    height: 100%;
    background: url("../img/robot.jpg") no-repeat top right;
    background-size: 100% 100%;
    position: relative;
}*/
.blRight {
    width: 100%;
    /*max-width: 500px;*/
    text-align: left;
    padding: 0 0 0 52%;
    display: table;
}
.blRight .widthBl {
    display: table-cell;
    vertical-align: middle;
}
.maxWidth {
    max-width: 500px;
    width: 100%;
}
.blRight p {
    color: #c5f8ff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.blRight form {
    margin: 50px 0 0;
}
.wrapInput {
    border: 2px solid #c5f8ff;
    line-height: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 5px;
    width: 396px;
    float: left;
    box-sizing: border-box;
}
#thank {
    visibility: hidden;
    clear: both;
    position: relative;
    top: 20px;
    color: #f7941d;
}
.textInput {
    line-height: 44px;
    height: 40px;
    background-color: transparent;
    padding-left: 5px;
    border: none;
    width: 268px;
    color: #c5f8ff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}
.btnSubmit, .btnSubmit:focus, .btnSubmit:active {
    background-color: #c5f8ff;
    font-family: 'titillium';
    line-height: 42px;
    height: 42px;
    color: #064351;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    width: 120px;
    float: right;
    cursor: pointer;
    padding: 0px;
    outline: none;
}
.blLayes3-bl {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}
.blLayes3-bl p {
    color: #f7941d;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    max-width: 365px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}
.layes-03 h1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10%;
    text-align: center;
    width: 100%;
    z-index: 1000;
    font-size: 34px;
    letter-spacing: 1px;
}
.textBottom-layes3 {
    position: absolute;
    bottom: 40px;
    color: #9beef4;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 700px;
    /*margin: 0 auto;*/
    right: 0px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    min-width: 700px;
}
.bl3-01 {
    background: url("../img/bgLayes-01.jpg") no-repeat top center;
    background-size: cover;
}
.bl3-02 {
    background: url("../img/bgLayes-02.jpg") no-repeat top center;
    background-size: cover;
}
.bl3-03 {
    background: url("../img/bgLayes-03.jpg") no-repeat top center;
    background-size: cover;
}
.bl3-04 {
    background: url("../img/bgLayes-04.jpg") no-repeat top center;
    background-size: cover;
}
.bl3-01 p, .bl3-02 p {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0px;
    transform: translate(-50%, -50px);
    margin: 0;
    min-width: 360px;
}
.bl3-03 p, .bl3-04 p {
    padding-top: 77px;
    min-width: 360px;
}


.df-footer {
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 9999;
    color: #6bacc2;
}
.df-footer a {
    color: #f7941d;
    text-decoration: none;
}


svg {
    width: auto;
    /*height: 300px;*/
    /*float: left;*/
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

svg > span {
    position: absolute;
    top: 0;
    right: 0;
}

path, line, polyline {
    stroke: #A6DDE7;
}

path {
    fill: transparent;
    stroke: #f7941d;


    stroke-width: 2px;

}

polyline {
    stroke: #A6DDE7;
    stroke-width: 2px;
    fill: #f7941d;
}
.layes-03 .photo-img {
    display: block;
    margin: 0 auto 20px;
}
.img04 {
    width: 100%;
    max-width: 878px;
    margin: 40px 0 0;
}
.layes-04 .widthBl {
    position: relative;
}
.layes-04 h1 {
    margin-bottom: 40px;
}
.layes4-textBl {
    color: #6bacc2;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    float: left;
    width: 100%;
    position: relative;
}
.textBl-1 {
    max-width: 268px;
    top: -111px;
}
.textBl-2 {
    max-width: 281px;
    left: -74px;
}
.textBl-3 {
    max-width: 265px;
    top: -111px;
    left: -159px;
}
.textBl-4 {
    max-width: 270px;
    top: -72px;
    left: 25px;
}
.textBl-5 {
    max-width: 255px;
    position: absolute;
    top: 420px;
    right: 0px;
}
.figureBlText {
    display: none;
}
@media (max-width: 1023px) {
    html.csstransforms3d.desktop .container,
    html.csstransforms3d.tablet .container {
      perspective: none;
      overflow: visible;
    }
    html.csstransforms3d.desktop .side,
    html.csstransforms3d.tablet .side {
      position: relative;
      transform: none;
      
    }
    .section {
        min-height: 768px;
    }
    .layes4-textBl {
        display: none;
    }
    .figureBlText {
        display: block;
        width: 100%;
        padding: 0 5%;
    }
    .figureBlText span {
        color: #f7941d;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 10px;
    }
    .figureBlText .textRight {
        color: #6bacc2;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding-left: 10px;
    }
    .img04 {
        display: none;
    }
    .figureBlText img {
        display: block;
    }
    .figureBlText p {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        /*-webkit-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*-ms-flex-pack: center;*/
        /*justify-content: center;*/
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 30px;
    }
    .layes-03 h1 {
        top: 5%;
    }
    .layes-04 h1 {
        padding-top: 50px;
    }
    .layes-02.side {
        height: auto;
        padding: 50px;
    }
	.layes-06.side {
        height: auto;
        padding: 50px;
    }
    .layes-03.side {
        height: auto;
    }
    .blLayes3-bl {
        width: 100%;
        float: none;
        height: 100%;
        padding: 30px 0;
    }
    .layes-04.side {
        height: auto;
        padding: 50px 0;
    }
    .layes-05.side {
        height: auto;
        min-height: 300px;
        background-size: auto 100%;
    }
    .blRight {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .bgBottol {
        min-height: 300px;
    }
    .textBottom-layes3 {
        padding: 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .layes-03 h1 {
        top: 20px;
    }

    .blLayes3-bl p {
        font-size: 20px;
    }
    .bl3-01 p, .bl3-02 p, .bl3-03 p {
        position: absolute;
        bottom: 30px;
        left: 50%;
        right: 0px;
        transform: translateX(-50%);
        margin: 0;
    }
    .bl3-03 p, .bl3-04 p {
        padding-top: 15px;
    }
    .bl3-04 p {
        position: absolute;
        bottom:115px;
        left: 0px;
        right: 0px;
    }
    .wrapInput {
        width: 90%;
        float: none;
        border: none;
        height: 100%;
        line-height: 100%;
    }
    .textInput {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: 2px solid #c5f8ff;
        background-color: transparent;
    }
    .btnSubmit, .btnSubmit:focus, .btnSubmit:active {
        float: none;
        border-radius: 5px;
    }
    .menu li {
        margin: 0 0 0 15px;
    }
}
@media (max-width: 768px) {
    .layes-03 h1 {
        top: -20px;
    }
    .blText {
        width: 100%;
        clear: both;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .blText svg {
        width: 30%;
        float: left;
        height: 150px;
    }
    .blText p {
        float: left;
        width: 65%;
        text-align: left;
    }
    h1 {
        padding-top: 40px;
    }

    .blRight {
        padding: 0px 20px;
    }
    .layes-02 .bl-02 {
        margin: 0px;
    }
	 .layes-06 .bl-02 {
        margin: 0px;
    }
}
@media (max-width: 524px) {
    h1, .layes-04 h1, .layes-02 h1 {
        font-size: 26px;
    }
    .blLayes3-bl p {
        font-size: 18px;
    }


    .figureBlText .textRight {
        font-size: 16px;
    }
    .textBottom-layes3 {
        bottom: 15px;
    }
    .figureBlText p {
        margin: 30px 10px;
    }
    .figureBlText img {
        width: 20%;
    }
    .figureBlText span {
        font-size: 22px;
    }
    .wrap__table, .wrap_table_cell, .blRight, .blRight .widthBl {
        display: block;
    }

    .layes-04 .widthBl {
        padding: 0 10px;
    }
    .layes-01 h1 {
        padding-top: 200px;
    }
}
@media (max-height: 700px) {
/*    html.csstransforms3d.desktop .container,
    html.csstransforms3d.tablet .container {
      perspective: none;
      overflow: visible;
    }
    html.csstransforms3d.desktop .side,
    html.csstransforms3d.tablet .side {
      position: relative;
      transform: none;
    }*/

    .blText svg {
        height: 300px;
    }

    .menu {
        top: 30px;
    }

    #logo {
        top: 10px;
    }

    .blLayes3-bl p {
        font-size: 19px;
    }

    .blRight p {
        font-size: 14px;
    }
    .img04 {
        width: 70%;
        margin-top: 10px;
        margin: 10px 15% 0;
    }
    .layes-04 h1 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .layes-04 p {
        font-size: 15px;
    }
    .textBl-5 {
        top: 352px;
    }
    .bl3-03 p, .bl3-04 p {
        padding-top: 15px;
    }
}

@media (max-height: 700px) {
    .blText svg {
        height: 200px;
        margin-bottom: 20px;
    }
    .textBl-1 {
        top: -90px;
        left: 65px;
    }
    .textBl-2 {
        left: -49px;
    }
    .textBl-3 {
        top: -88px;
    }
    .textBl-4 {
        left: -15px;
    }
    .textBl-5 {
        right: 69px;
    }
}

@media (orientation: portrait) {
    .layes-01.side {
        height: 400px;
    }
}
/*---------popup menu----------*/
.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}